
body {
background-color: white;
margin: 10;
padding: 5;
color:#333366;
font: veranda;
}

#taggedReaction{
position: relative;
font:  times;
font-size: 16pt;
color:#333366;

}

textarea {
position: relative;
width: 550px;
height: 350px;
color:black;
font-size: 12pt;

}


.highlighted{
  color: white;
  background-color: #333366;
}

.Add{
  background-color:#6666CC; 
  color:white;
}

.Dry{
  background-color:#FFCC33; 
  color:white;
}


.Dissolve{
  background-color:#66CC99; 
  color:white;
}
.Extract{
  background-color:#FFCC99; 
  color:white;
}
.Stir{
  background-color:#660033; 
  color:white;
}

.Concentrate{
  background-color:#999933; 
  color:white;
}
.Mix{
  background-color:		#778899; 
  color:white;
}
.Wash{
  background-color:#99CCCC; 
  color:white;
}
.Purify{
  background-color:#999999; 
  color:white;
}
.Remove{
  background-color:#CCCC66; 
  color:white;
}

.Yield{
  background-color:#339933; 
  color:white;
}

.Cool{
  background-color:	#3BB9FF; 
  color:white;
}

.Heat{
  background-color:#C12869; 
  color:white;
}
.Pour{
  background-color:	#9E7BFF; 
  color:white;
}
.Filter{
  background-color:#000066; 
  color:white;
}

.Recover{
  background-color:#99FF00; 
  color:white;
}

.Degass{
  background-color:#990033; 
  color:white;
}
.Quench{
  background-color:#FF3333; 
  color:white;
}

.Precipitate{
  background-color:#996633; 
  color:white;
}

.Wait{
  background-color:#CC00CC; 
  color:white;
}

.Split{
  background-color:#DCDCDC; 
  color:white;
}
	

.Equip{
  background-color:#556B2F; 
  color:white;
}

.Synthesize{
  background-color:#333333; 
  color:white;
}

.Seal{
  background-color:#CC3300; 
  color:white;
}

.PrepPhrase{
  background-color:#CC9966; 
  color:white;
}

.NounPhrase{
  background-color:#cccc99; 
  color:white;
}

.VerbPhrase{
  background-color:#330033; 
  color:white;
}

.Solvent{
  background-color:#666699; 
  color:white;
}

.Other{
  background-color:#996666; 
  color:white;
}

.TempPhrase{
  background-color:#C25A7C; 
  color:white;
}

.TimePhrase{
  background-color:#990033; 
  color:white;
}

.AtmospherePhrase{
  background-color:#006666; 
  color:white;
}
